.About {
  background-color: rgb(255, 0, 0, 0.5);
  margin-top: -400px;
  text-align: center;
  padding: 10px;
  font-family: fontRick;
}

.textFirstAbout {
  background-color: rgb(255, 0, 0, 0.5);
  text-align: center;
  width: auto;
  height: auto;
  font-family: fontRick;
}

.gifRick {
  padding: 5px;
  
} 
