
.Menu__item {
      background-color:  rgb(83, 171, 238, 0.9);
      border-bottom: 5px solid  #bfde42;
      border-radius: 50px ;
      color:  #bfde42;
      padding: 20px;
      font-size: 20px;
      font-family: fontRick;
      text-decoration: none;
    }

.Menu {
  margin-top: 50px;
}
