.App {
    text-align: center;
    margin-top: -190px;
    
 .question-card {
  
    margin: 0 auto;
  
  
  
   
    width: auto; 
    height: auto;
  
  
    padding: 100px;
    width: auto;
    border-radius: 50px;
    color: white;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: fontRick;

  }

  .hoverUl:hover {
    background-color: #bfde42;
  }
  
  li {
    margin-top: 100px;
    margin-left: 90px;
    width: 300px;
    background-color: rgb(83, 171, 238,);
    padding: 25px;
    border: 3px solid white;
    border-radius: 500px;
    font-size: 20px;
    cursor: default;
    
  }
  
  .question-text {
    padding: 25px;
    color:  #bfde42;
    background-color: rgb(83, 171, 238) ;
    font-size: 35px;
    margin-top: -20px;
    font-family: fontRick
  }

  .questionOut {
    background-color: rgb(83, 171, 238) ;
    font-family: fontRick;
    font-size: 30px;
    color: white;
    
    
  }
  

  
  .final-results {

    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-top: 64px;
    background-color: rgb(83, 171, 238) ;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  button {
    background-color:#bfde42; 
    border: none;
    color:white; 
    padding: 26px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    border-radius: 14px;
    font-family: fontRick;
  }

  .rickH1 {
    background-color: rgb(83, 171, 238) ;
    color:#bfde42;  
    font-family: fontRick;
    margin-bottom: -5px;
    width: 100%;
  }

  .score {
    margin-top: 1px;
    background-color: rgb(83, 171, 238) ;
    color: white;   
    font-family: fontRick;
    width: 100%;
  }


  .dancingRickQuiz {
    margin-bottom: -150px;
    margin-top: -100px;
    margin-left: 1650px;
    
}

.rickH2 {
  background-color: rgb(83, 171, 238,) ;
  height: 15px;
  width: 100%;
}

.finalName {
  font-family: fontRick;
  color: #bfde42;
}

.questionOf {
  font-family: fontRick;
}

}