.Home {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.textWelcome {
    background-color: rgb(255, 0, 0, 0.5);
    font-size: 45px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: -200px;
    text-align: center;
}

.textFirstWelcome {
    background-color: rgb(83, 171, 238, 0.5) ;
    color: white;                                                            
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: 900;
}

.containerAbout {
    width: 250px;
    height: 250px;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 25px;
}


.containerQuiz {
    width: 250px;
    height: 250px;
    margin-left: 1400px;
    margin-top: -243px;
    font-size: 25px;
}

.portalFirst {
    margin-left: 0px;
    margin-top: 100px
}

.portalSecound {
    margin-left: -20px;
    margin-top: 100px
}

.dancingRick {
    margin-left: 750px;
    margin-top: -155px;
}