.textArea {
    color: #bfde42;
    font-family: fontRick;
    font-size: 40px;
    margin-top: 50px;
}

.inputSize {
    font-size: 40px;
    margin-left: 100px;
    color: rgb(83, 171, 238) ;
    font-family: fontRick;
}
.backgroundText {
    text-align: center;
    width: 90%;
    height: 90%;
    background-color: rgb(83, 171, 238) ;
    border-radius: 50px;
    margin-top: -300px
}

.buttonClick {
    background-color:#bfde42;
    border-radius: 50px;
    font-size: 50px;
    margin-bottom:  -100px;
    font-family: fontRick;
    color:rgb(83, 171, 238) ;
    text-decoration: none;
}

.testButton {
    margin-top: 30px;
}